<a href="https://colab.research.google.com/github/Tejeswini-98/Apache-Spark-And-Hadoop/blob/main/Spark_Python_DAY_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.we will be starting with spark,we will try to integrate python with spark
2.We are going to use pyspark for doing some data analysis, we will be working on some machine learning models in pyspark
3.Handoop in to work on aws(amzon web service)
4.we will be creating accounts in aws(free tier accounts),you should have credit and debit card.
5.Work on server there is ec2 instances(elastic cloud compute) there we will be launching our linux,install Handoop,setting up the configuration,then will be discussing small examples using map reduce concepts in Handoop.
6.In the background we will be using small examples of programs written and java and then we are going to apply them on data.
7.Word count,mean of words present in a text calculate the pi value examples.
8.Databricks,platform where you can directly lauch your spark + python kernel and you can start working using the pyspark concepts.
9.Just create one free account,we can start working(no need of having any credit card and debit card).

Spark documentation
https://spark.apache.org/docs/latest/api/python/

Pyspark is a spark library written in python to run python applications using the Apache spark Capabilites,using pyspark we can run applications parallely on the distributed cluster(mulitiple nodes).
*  python data frame is same used
* spark working on streamy data -continous pyspark concepts.(twiiter continous data)

In other words,pyspark is a python api(application programming inferface) for Apache Spark .integrate -spark start writing program in python(java,scala,r)
pyspark  is used for huge data .dedicates some amount of data differnt cluster nodes  nodes nodes nodes.processses ur data quickly.
Apache spark is an analytical processing engine for large scale powerful distributed data processing and machine learning applications.

in real-time pyspark has used a lot in the machine  learning & Data science community. thanks to vast python machine learning libraries  
* R ,python =ml models=pyspark =spark ml models -data (project on pyspark)

Python +spark =Pyspark.
python=pyspark+ml model.
google colab setuping the spark environment.
we use handoop on aws(cloud prenium)
using some of the aws service (free)
lauch the services ec2  servce-linux-os(operating system)
linux-java-installing(handoop and spark) for purposes -setup the configuration 
install handoop(same os linux)
take examples-java-map reduce problems solve.
text files ,countwords,avg length of words,medium length of words
basically analysis the big data we are using Handoop.

Data bricks: lauch notenoobook(jypter notebook) free

Advantage of pyspark.
* Pyspark is a general -purpose, in memory ,distributed processing engine that allows you to process data effieciently in a distributed fashions.
* Application running onpyspark are 100x faster than traditional syatems.
* you will get great benefits using pyspark for data ingestion pipelines.
* using pyspark we can process data from Handoop HDFS,aws s3 and many others file systems.(handoop distributed storage files,aws s3,azurblob)

* Pyspark also is used to process real -time data using streaming(continous twitter,instagram) and kafka.
* Using pyspark stramming you can also streamfiles from the file systems and also stram for the socket.
* Pyspark natively has marketing learning and grap libraires.
* handoop is not capable of stramming data

Pyspark modules & packages

* pyspark RDD(pyspark RDD)- working on ur distributed data.
* pyspark Dataframe and sql(pyspark sql application sql modules)
*pyspark  Streamming(pyspark streaming)
* pyspark  MLib( pyspark ml,pyspark,millib) for machine learning
* pyspark GraphFrames(GrapFrames) graphs - networking analytics

In [4]:
!pip install Pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 48 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 50.1 MB/s
Building wheels for collected packages: Pyspark
  Building wheel for Pyspark (setup.py) ... done
  Created wheel for Pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=42e81521ba3e500398a63eaa27b4c910624b47a35de309e43f55e30e8836a69b
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built Pyspark
Installing collected packages: py4j, Pyspark
Successfully installed Pyspark-3.3.0 py4j-0.10.9.5

APache Spark Eco System

Spark,
Spark streaming, 
Spark Mlib,
Spark Graphx(network)

Apache Spark Core ApI
r,python,java,scala,sql

In [6]:
from pyspark.sql import SparkSession

In [9]:
spark = SparkSession.builder\
      .master("local[1]")\
      .appName("SparkByExamples.com")\
      .getOrCreate()

https://sparkbyexamples.com/

. Spark SQL data frame 
. Streaming
. MLib machine learning
. Spark Core

Spark Core

Spark Core is the underlying general execution engine for the Spark platform that all other functionality is built on top of. It provides an RDD (Resilient Distributed Dataset) and in-memory computing capabilities.
(some data processing using RDD)

In [10]:
datalist=[("java",20000),("python",10000),("scale",3000)]

In [11]:
datalist

[('java', 20000), ('python', 10000), ('scale', 3000)]

In [12]:
rdd=spark.sparkContext.parallelize(datalist)

Paralleliza()

convert into RDD so we used the distribution nodes

some small functions count,

In [13]:
rdd.count()

3

In [15]:
rdd.collect()# view function in R

[('java', 20000), ('python', 10000), ('scale', 3000)]

In [16]:
rdd.first()

('java', 20000)

In [20]:
rdd.max()# which the last nodes rddis a data frame as in python rddd.max(keyvalue 0,1,2)

('scale', 3000)

In [19]:
rdd.min()# which the first node

('java', 20000)

In [21]:
rdd=spark.sparkContext.parallelize([1.0,5.0,43.0,10.0])
rdd.max()

43.0

In [24]:
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]
columns = ("firstname","middlename","lastname","dob","gender","salary")
df = spark.createDataFrame(data=data, schema = columns)

In [26]:
df.show()# schema means layouts

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

In [31]:
columns=["Language","user_count"]
data=[('java','20000'),('python','100000'),('scala','3000')]

In [32]:
rdd=spark.sparkContext.parallelize(data)

In [33]:
dfFromRDD1=rdd.toDF()

In [34]:
dfFromRDD1.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)

In [35]:
 dfFromRDD1=rdd.toDF(columns)

In [37]:
dfFromRDD1.printSchema()# dataframe rddto dataframe build ml application.

root
 |-- Language: string (nullable = true)
 |-- user_count: string (nullable = true)

In [39]:
DfFrameRDD2=spark.createDataFrame(rdd).toDF(*columns)

In [40]:
dfFromRDD1.show()

+--------+----------+
|Language|user_count|
+--------+----------+
|    java|     20000|
|  python|    100000|
|   scala|      3000|
+--------+----------+

In [61]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType
data2 = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]
schema=StructType([ \
    StructField("FirstName",StringType(),True), \
    StructField("MiddleName",StringType(),True), \
    StructField("lastName",StringType(),True), \
    StructField("dob",StringType(),True), \
    StructField("Gender",StringType(),True), \
    StructField("Salary",IntegerType(),True)          
  ])
df = spark.createDataFrame(data=data2, schema = schema)
df.printSchema()
df.show(truncate=False)

root
 |-- FirstName: string (nullable = true)
 |-- MiddleName: string (nullable = true)
 |-- lastName: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Salary: integer (nullable = true)

+---------+----------+--------+----------+------+------+
|FirstName|MiddleName|lastName|dob       |Gender|Salary|
+---------+----------+--------+----------+------+------+
|James    |          |Smith   |1991-04-01|M     |3000  |
|Michael  |Rose      |        |2000-05-19|M     |4000  |
|Robert   |          |Williams|1978-09-05|M     |4000  |
|Maria    |Anne      |Jones   |1967-12-01|F     |4000  |
|Jen      |Mary      |Brown   |1980-02-17|F     |-1    |
+---------+----------+--------+----------+------+------+

TRUNCATE= TRIM DATA